﻿.columns(@width) {
    -moz-columns: @width;
    -webkit-columns: @width;
    columns: @width;
    column-fill: auto;
}

.column-avoid-break {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
}
