﻿.stretch(@top: 0, @right: 0, @bottom: 0, @left: 0) {
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

.alignTop(@top: 0, @right: 0, @left: 0){
    top: @top;
    right: @right;
    left: @left;
}

.alignBottom(@bottom: 0, @right: 0, @left: 0){
    bottom: @bottom;
    right: @right;
    left: @left;
}