﻿select,
input,
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.1em;
  width: 100%;
  border: 2px solid #b1b1b1;
  font-size: 1.4em;
}
select:disabled,
input:disabled,
textarea:disabled,
select[disabled][required],
input[disabled][required],
textarea[disabled][required] {
  background-color: #ebebe4;
  background-image: none;
}
input,
select {
  height: 2.142857142857143em;
}
input[type=button] {
  width: auto;
  padding: 0 5px;
  background: #ffffff;
}
input[type=button]:hover,
input[type=button]:active {
  background: #2e8def;
  border: 1px solid #f2f8ff;
  color: #ffffff;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../img/icons/arrow_dropdown.gif) no-repeat center right #ffffff;
}
select::-ms-expand {
  display: none;
}
.space {
  margin-right: 1em;
}
.space-small {
  margin-right: 0.5em;
}
.len-20 {
  width: 10.5em;
}
.len-25 {
  width: 12.5em;
}
.len-30 {
  width: 15.5em;
}
.len-40 {
  width: 20.5em;
}
.len-50 {
  width: 25.5em;
}
input:invalid,
textarea:invalid {
  border-width: 1px;
}
input[required] {
  background: #ffffff url(../../img/icons/val_asterisk.png) no-repeat 98% center;
  box-shadow: none;
}
select[required] {
  background-image: url(../../img/icons/arrow_dropdown.gif), url(../../img/icons/val_asterisk.png);
  background-color: #FFF;
  background-repeat: no-repeat, no-repeat;
  background-position: right center, 260px center;
}
textarea:required,
textarea:required:focus {
  background: #ffffff url(../../img/icons/val_asterisk.png) no-repeat 94% center;
}
input:focus:invalid {
  background: #ffffff url(../../img/icons/invalid.png) no-repeat 98% center;
}
select:focus:invalid {
  background-image: url(../../img/icons/arrow_dropdown.gif), url(../../img/icons/invalid.png);
  background-color: #FFF;
  background-repeat: no-repeat, no-repeat;
  background-position: right center, 260px center;
}
textarea:focus:invalid {
  background: #ffffff url(../../img/icons/invalid.png) no-repeat 94% center;
}
textarea:focus {
  -moz-outline: none;
  outline: none;
}
textarea {
  padding: 5px;
  width: 300px;
}
input,
textarea {
  border: 1px solid #aaa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: width 0.25s;
  -o-transition: width 0.25s;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}
textarea:required {
  background: #ffffff url(../../img/icons/val_asterisk.png) no-repeat 94% center;
}
input:required:valid,
textarea:required:valid {
  background: #ffffff url(../../img/icons/valid.png) no-repeat 98% center;
}
select:required:valid {
  background-image: url(../../img/icons/arrow_dropdown.gif), url(../../img/icons/valid.png);
  background-color: #FFF;
  background-repeat: no-repeat, no-repeat;
  background-position: right center, 260px center;
}
textarea:required:valid {
  background: #ffffff url(../../img/icons/valid.png) no-repeat 94% center;
}
input:focus:invalid,
textarea:focus:invalid {
  background: #ffffff url(../../img/icons/invalid.png) no-repeat 98% center;
}
.validationMessage {
  background: #d45252;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  color: #ffffff;
  padding: 0 0.6em;
  z-index: 999;
  /* hints stay above all other elements */

  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
  line-height: 2;
}
.validationElement {
  border: solid 1px #b03535;
}
input:focus + .validationMessage,
textarea:focus + .validationMessage {
  display: inline;
}
input:valid + .validationMessage,
textarea:valid + .validationMessage {
  display: none;
}
