﻿.tiles {
  margin-right: 4em;
  float: left;
}
.tiles li {
  position: relative;
}
.tile-wide {
  width: 310px;
  clear: both;
}
.tile-block {
  width: 150px;
  margin-right: 1em;
  float: left;
}
.tile-wide,
.tile-block {
  margin-bottom: 1em;
  height: 150px;
}
.tile-wide a,
.tile-block a {
  display: block;
  height: 150px;
  text-align: center;
}
.tile-wide [class^=icon-],
.tile-block [class^=icon-] {
  font-size: 6em;
  color: #ffffff;
  line-height: 2.5;
}
.tile-wide a,
.tile-block a {
  -webkit-transform: perspective(0px) rotateY(0deg);
  -moz-transform: perspective(0px) rotateY(0deg);
  -ms-transform: perspective(0px) rotateY(0deg);
  -o-transform: perspective(0px) rotateY(0deg);
  transform: perspective(0px) rotateY(0deg);
}
.tile-wide a:hover,
.tile-block a:hover {
  box-shadow: 0 0 0px 2px #333333;
}
.tile-wide a:active,
.tile-block a:active {
  -webkit-transform: perspective(1000px) rotateY(-10deg);
  -moz-transform: perspective(1000px) rotateY(-10deg);
  -ms-transform: perspective(1000px) rotateY(-10deg);
  -o-transform: perspective(1000px) rotateY(-10deg);
  transform: perspective(1000px) rotateY(-10deg);
}
.tile-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
}
.tile-title {
  float: left;
  margin-left: 0.71em;
  margin-top: 0.28em;
  font-size: 1.4em;
}
.tile-total {
  float: right;
  margin-right: 0.55em;
  font-size: 1.8em;
}
