﻿.column-avoid-break {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
}
/*@import url(main.less);
@import url(page.less);
@import url(page-action.less);
@import url(page-actions.less);
@import url(page-filter.less);
@import url(page-form.less);
@import url(page-header.less);
@import url(page-list.less);

@import url(principal.less);*/
@media only screen and (max-width: 768px) {
  .page {
    min-width: 100%;
  }
  .page > header {
    padding: 3em 0 0 1em;
  }
  .page > footer {
    height: 5em;
    padding: 0 0 0 1em;
  }
  .page-header .page-back-state {
    width: 2.5em;
    height: 2.5em;
    margin: 0.7em 1em 0 0;
  }
  .page-header .page-back-state i {
    margin-left: -0.2em;
  }
  .page-header h1 {
    font-size: 3em;
  }
  .page-container {
    left: 1em;
    bottom: 5em;
  }
  .page-filter .page-filter-button {
    display: block;
  }
  .page-filter .page-filter-options {
    display: none;
  }
  .page-actions {
    margin-top: 0.5em;
  }
  .page-actions .page-actions-label {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .page-form {
    -moz-columns: 30em;
    -webkit-columns: 30em;
    columns: 30em;
    column-fill: auto;
  }
  .page-form article {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
  }
  .page-list-content {
    -moz-columns: 25em;
    -webkit-columns: 25em;
    columns: 25em;
    column-fill: auto;
  }
  .page-list-content article {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
  }
}
