::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: #f0f0f0;
  border: none;
}
::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border: 1px solid #f0f0f0;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #dadada;
}
::-webkit-scrollbar-thumb:active {
  background-color: #606060;
}
::-webkit-scrollbar-thumb:disabled {
  background-color: #f9f9f9;
}
::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
}
::-webkit-scrollbar-button {
  background-color: #f0f0f0;
  background-image: url("../../images/icons/controls.png");
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button:vertical {
  height: 33px;
}
::-webkit-scrollbar-button:horizontal {
  width: 33px;
}
::-webkit-scrollbar-button:horizontal:increment {
  background-position: 0 -444px;
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-position: 12px -425px;
}
::-webkit-scrollbar-button:vertical:increment {
  background-position: -1px -391px;
}
::-webkit-scrollbar-button:vertical:decrement {
  background-position: -1px -358px;
}
::-webkit-scrollbar-button:hover {
  background-color: #dadada;
}
::-webkit-scrollbar-button:horizontal:increment:hover {
  background-position: 0 -548px;
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-position: 12px -529px;
}
::-webkit-scrollbar-button:vertical:increment:hover {
  background-position: -1px -495px;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
  background-position: -1px -462px;
}
::-webkit-scrollbar-button:active {
  background-color: #606060;
}
::-webkit-scrollbar-button:horizontal:increment:active {
  background-position: 0 -652px;
}
::-webkit-scrollbar-button:horizontal:decrement:active {
  background-position: 12px -633px;
}
::-webkit-scrollbar-button:vertical:increment:active {
  background-position: -1px -599px;
}
::-webkit-scrollbar-button:vertical:decrement:active {
  background-position: -1px -566px;
}
::-webkit-scrollbar-button:disabled {
  background-color: #f9f9f9;
}
::-webkit-scrollbar-button:horizontal:increment:disabled {
  background-position: 0 -756px;
}
::-webkit-scrollbar-button:horizontal:decrement:disabled {
  background-position: 12px -737px;
}
::-webkit-scrollbar-button:vertical:increment:disabled {
  background-position: -1px -703px;
}
::-webkit-scrollbar-button:vertical:decrement:disabled {
  background-position: -1px -670px;
}
