.listagem ~ .listagem {
  margin-top: 1.5em;
}
.listagem-ordem {
  width: 1.6666666666666667em;
  height: 1.6666666666666667em;
  background: #2e8def;
  color: white;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.8;
}
.listagem-items {
  font-size: 1.4em;
  line-height: 1.4;
  margin-top: 1em;
}
