body,
ul,
h1 {
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: none;
}
button {
  border: none;
  background: none;
}
body {
  background: #f4f4f4;
  font-weight: 300;
  font-size: 62.5%;
  font-family: source-sans-pro, sans-serif;
}
html,
body,
.page {
  height: 100%;
}
body > .page {
  height: auto;
  min-height: 100%;
}
.menu li {
  float: left;
  margin-right: 0.5em;
  font-size: 2em;
}
h1 {
  font-weight: 200;
  font-size: 4.5em;
  color: #000000;
}
h2 {
  font-size: 1.8em;
  font-weight: 500;
  color: #2e8def;
  margin: 0 0 1em 0;
}
