.page-header h1 {
  float: left;
}
.page-back-state {
  /*top: 4.3em;
    left: 3.5em;
    width: 3.2em;
    height: 3.2em;
    position: absolute;*/
  width: 3.2em;
  height: 3.2em;
  float: left;
  margin-left: -6.5em;
  margin-top: 1.2em;
}
.page-navigation {
  clear: left;
}
