.column-avoid-break {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
}
.page {
  position: absolute;
  min-width: 800px;
  min-height: 600px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.page > header {
  position: relative;
  padding: 3em 0 0 10.2em;
}
.page > footer {
  position: absolute;
  height: 7em;
  padding: 0 0 0 10.2em;
  background: #808080;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.page-container {
  position: absolute;
  top: 12em;
  right: 0;
  bottom: 0;
  left: 0;
}
.csstransitions .page-container {
  opacity: 0;
  left: -50px;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.csstransitions .page-container.active {
  opacity: 1;
  left: 0;
}
.page-action {
  position: absolute;
  height: 7em;
  padding: 0 0 0 10.2em;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
.page-filter {
  margin: 1em 0 1.5em 10.2em;
}
.page-content-scroll {
  top: 1em;
  right: 0;
  bottom: 8em;
  left: 10.2em;
  position: absolute;
  overflow-x: auto;
}
.page-content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.no-csscolumns .page-list article {
  display: block;
}
.no-csscolumns .page-form article {
  display: block;
}
