.column-avoid-break {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
}
.page-form article {
  width: 30em;
  margin-bottom: 2em;
}
.page-form label {
  font-size: 1.6em;
  color: #000000;
}
.page-form input:focus,
.page-form textarea:focus {
  width: 101%;
}
.page-form-row {
  position: relative;
  margin-bottom: 1em;
}
.page-form-row:last-child {
  margin-bottom: 0;
}
