.column-avoid-break {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
}
.page-list {
  top: 5.5em;
  /*.columns(20em);

    article {
        .column-avoid-break;
    }*/
}
.page-list-item {
  /*& ~ .page-list-item {
        margin-top: 1.5em;
    }*/
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.page-list-item:hover {
  background: white;
}
.page-list-item a {
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transform: perspective(0px) rotateY(0deg);
  -moz-transform: perspective(0px) rotateY(0deg);
  -ms-transform: perspective(0px) rotateY(0deg);
  -o-transform: perspective(0px) rotateY(0deg);
  transform: perspective(0px) rotateY(0deg);
}
.page-list-item a:active {
  -webkit-transform: perspective(1000px) rotateY(-10deg);
  -moz-transform: perspective(1000px) rotateY(-10deg);
  -ms-transform: perspective(1000px) rotateY(-10deg);
  -o-transform: perspective(1000px) rotateY(-10deg);
  transform: perspective(1000px) rotateY(-10deg);
}
.page-list-item.no-effect a:active {
  -webkit-transform: perspective(0) rotateY(0deg);
  -moz-transform: perspective(0) rotateY(0deg);
  -ms-transform: perspective(0) rotateY(0deg);
  -o-transform: perspective(0) rotateY(0deg);
  transform: perspective(0) rotateY(0deg);
}
.page-list-item-title {
  font-size: 1.8em;
  line-height: 1.8;
  border-bottom: 1px solid #d1d1d1;
}
.page-list-item-list {
  font-size: 1.2em;
  line-height: 1.2;
  margin-top: 1em;
}
.page-list-item-list li {
  margin-bottom: 1em;
}
.page-list-item-list.with-no-margin li {
  margin-bottom: 0.5em;
}
.page-list-with-children .page-list-item-title {
  font-size: 1.5em;
  line-height: 1.5;
}
.page-list-with-children .page-list-item-list li {
  margin-bottom: 0.5em;
}
