.tile-alunos {
  background: #017abe;
}
.tile-graduacoes {
  background: #850000;
}
.tile-cursos {
  background: #c00036;
}
.tile-turmas {
  background: #585858;
}
.tile-matriculas {
  background: #dc4a00;
}
