.user-authenticated {
  position: absolute;
  right: 4em;
  top: 4em;
}
.user-authenticated li {
  display: inline-block;
  padding: 0 2em;
  font-size: 1.2em;
}
.user-authenticated li i {
  margin-right: 0.5em;
}
.user-authenticated li:last-child {
  border-left: 1px solid #DADADA;
}
