.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.listn {
  list-style: none;
}
.dn {
  display: none;
}
.metro-icon {
  background-color: transparent;
  border: 0.2em solid #000000;
  border-radius: 100%;
  text-align: center;
}
.busy-loading {
  height: 4px;
  top: 0;
  right: 0;
  left: 2em;
  z-index: 10;
  position: absolute;
  display: none;
  background: url("../../images/icons/flyingdots_black.gif") no-repeat;
}
.icon-container {
  position: relative;
}
.icon-container:after {
  font-size: 1.5em;
  position: absolute;
  top: -0.2em;
  left: 0.4em;
}
.icon-container.datepicker:after {
  content: '\F133';
}
.icon-container.datepicker input {
  padding-left: 2em;
}
.icon-container.datepicker.datepicker-with-no-icon:after {
  content: '';
}
