﻿
@import url(mixing/column.less);

//@import url(environment.less);
/*@import url(main.less);
@import url(page.less);
@import url(page-action.less);
@import url(page-actions.less);
@import url(page-filter.less);
@import url(page-form.less);
@import url(page-header.less);
@import url(page-list.less);

@import url(principal.less);*/


@page-header-height: 12em;
@page-footer-height: 5em;
@page-margin-left: 1em;

@media only screen and (max-width: 768px) {
    .page {
        min-width: 100%;

        > header {
            padding: 3em 0 0 @page-margin-left;
        }

        > footer {
            height: @page-footer-height;
            padding: 0 0 0 @page-margin-left;
        }
    }

    .page-header {
        .page-back-state {
			width: 2.5em;
			height: 2.5em;
			margin: 0.7em 1em 0 0;

			i {
				margin-left: -0.2em;
			}
        }

		h1 {
			font-size: 3em;
		}
    }

    .page-container {
        left: @page-margin-left;
        bottom: @page-footer-height;
    }

    .page-filter {
        .page-filter-button {
            display: block;
        }

        .page-filter-options {
            display: none;
        }
    }

    .page-actions {
        margin-top: 0.5em;

        .page-actions-label {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .page-form {
        .columns(30em);

        article {
            .column-avoid-break;
       //     margin-left: 0;
        }
    }

    .page-list-content {
        .columns(25em);

        article {
            .column-avoid-break;
        }
    }
}
