﻿@import url('mixing/unit.less');

@font-size: 1.4em;
@button-bg: white;

@button-bg-hover: #2e8def;
@button-color-hover: #FFF;
@button-border-hover: #F2F8FF;

@inputs-borders: #b1b1b1;
@inputs-disabled: #EBEBE4;

@text-color-title: #FFFFFF;

@border-color-invalid: #B03535;
@validation-border-width: 1px;
@validation-message: #d45252;

@input-transition: width .25s;

@validation-icon-required: url(../../images/icons/val_asterisk.png);
@validation-icon-valid: url(../../images/icons/valid.png);
@validation-icon-invalid: url(../../images/icons/invalid.png);

select,
input,
textarea
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.1em;
    width: 100%;
    border: 2px solid @inputs-borders;
    font-size: @font-size;

    &:disabled,
    &[disabled][required]
    {
        background-color: @inputs-disabled;
        background-image: none;
    }
}

input,
select
{
    height: unit(30 / 14, em);
}

    input[type=button]
    {
        width: auto;
        padding: 0 5px;
        background: @button-bg;

        &:hover,
        &:active
        {
            background: @button-bg-hover;
            border: 1px solid @button-border-hover;
            color: @button-color-hover;
        }
    }

select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../../images/icons/arrow_dropdown.gif) no-repeat center right white;

    &::-ms-expand
    {
        display: none;
    }
}

.space
{
    margin-right: 1em;
}

.space-small
{
    margin-right: 0.5em;
}

.len-20
{
    width: 10.5em;
}

.len-25
{
    width: 12.5em;
}

.len-30
{
    width: 15.5em;
}

.len-40
{
    width: 20.5em;
}

.len-50
{
    width: 25.5em;
}

.validation-icon(@icon, @offset)
{
    background: #fff @icon no-repeat @offset center;
}

.select-validation(@icon)
{
    background-image: url(../../images/icons/arrow_dropdown.gif), @icon;
    background-color: #FFF;
    background-repeat: no-repeat, no-repeat;
    background-position: right center, 260px center;
}

input:invalid, 
textarea:invalid,
input.invalid
{
    border-width: @validation-border-width;
}

input[required]
{
    .validation-icon(@validation-icon-required, 98%);
    box-shadow: none;
}

select[required]
{
    .select-validation(@validation-icon-required);
}

textarea:required, textarea:required:focus
{
    .validation-icon(@validation-icon-required, 94%);
}

input:focus:invalid,
input:focus.invalid,
//input:invalid,
input.invalid
{
    .validation-icon(@validation-icon-invalid, 98%);
}

select:focus:invalid,
select:focus.invalid,
//select:invalid,
select.invalid
{
    .select-validation(@validation-icon-invalid);
}

textarea:focus:invalid,
textarea:focus.invalid,
//textarea:invalid,
textarea.invalid
{
    .validation-icon(@validation-icon-invalid, 94%);
}

textarea:focus
{
    -moz-outline: none;
    outline: none;
}

textarea
{
    padding: 5px;
    width: 300px;
}

input, textarea
{
    border: 1px solid #aaa;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: @input-transition;
    -o-transition: @input-transition;
    -webkit-transition: @input-transition;
    transition: @input-transition;
}

    textarea:required
    {
        .validation-icon(@validation-icon-required, 94%);
    }

        input:required:valid, 
        textarea:required:valid
        {
            .validation-icon(@validation-icon-valid, 98%);

            &.invalid {
                .validation-icon(@validation-icon-invalid, 98%);         
            }            
        }

        select:required:valid {
            .select-validation(@validation-icon-valid);

            &.invalid {
                .validation-icon(@validation-icon-invalid, 98%);
            }
        }

        textarea:required:valid
        {
            .validation-icon(@validation-icon-valid, 94%);
        }

    input:focus:invalid, textarea:focus:invalid
    {
        .validation-icon(@validation-icon-invalid, 98%);
    }

.validationMessage
{
    background: @validation-message;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    color: @text-color-title;
    padding: 0 0.6em;
    z-index: 999; /* hints stay above all other elements */
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    line-height: 2;
}

.validationElement
{
    border: solid 1px @border-color-invalid;
}


input:focus + .validationMessage, textarea:focus + .validationMessage
{
    display: inline;
}

input:valid + .validationMessage, textarea:valid + .validationMessage
{
    display: none;
}
