﻿@import "default";

body,
ul,
h1 {
    margin: 0;
    padding: 0;
}

a {
    color: @a-color;
    text-decoration: none;

    &:visited {
        color: none;
    }
}

button {
    border: none;
    background: none;
}

body {
    background: @body-bg;
    font-weight: 300;
    font-size: @font-size;
    font-family: @font-family;
}

html, body, .page {
    height: 100%;
}

    body > .page {
        height: auto;
        min-height: 100%;
    }

.menu {
    & li {
        float: left;
        margin-right: 0.5em;
        font-size: 2em;
    }
}

h1 {
    font-weight: 200;
    font-size: 4.5em;
    color: @h1-color;
}

h2 {
    font-size: 1.8em;
    font-weight: 500;
    color: @h2-color;
    margin: 0 0 1em 0;
}