﻿.no-generatedcontent .menu {
    height: 28px;
    overflow: hidden;
}

.lt-ie8 .page {
    position: relative;

    & > header {
        position: absolute;
    }

    & > footer {
        background: none;
    }

    .page-content {
        overflow-x: visible;
        overflow-y: auto;
    }
}

.page-list article {
	display: block;
}

.page-action {
    background: #808080;
}

.page-form article {
	display: block;
}

.page-back-state {
    margin-left: -220px;
}

.page-navigation {
    margin-top: -30px;
}
