﻿.page-actions {
    margin-top: 0.7em;
    float: left;

    li {
        float: left;
        margin-right: 1em;
    }
}

.page-actions-rightside {
    float: right;
    margin-top: 0;
}

.page-actions-action {
    color: white;
    text-align: center;
    display: block;
    width: auto;
}

.page-actions-icon {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    line-height: 4.6em;
    text-align: center;
    border-color: white;
}

.page-actions-label {
    font-size: 1.2em;
    margin-top: 0.5em;
    display: inline-block;
}
