﻿@import "mixing/column";
@import "mixing/transform";

@page-list-item-title-border: #D1D1D1;

.page-list
{
    top: 5.5em;
    /*.columns(20em);

    article {
        .column-avoid-break;
    }*/
}

.page-list-item
{
    /*& ~ .page-list-item {
        margin-top: 1.5em;
    }*/
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 1em;

    &:hover
    {
        background: white;
    }

    a
    {
        width: 100%;
        height: 100%;
        display: inline-block;
        .transform(perspective(0px) rotateY(0deg));


        &:active
        {
            .transform(perspective(1000px) rotateY(-10deg));
        }
    }

    &.no-effect
    {
        a:active
        {
            .transform(perspective(0) rotateY(0deg));
        }
    }
}

.page-list-item-title
{
    font-size: 1.8em;
    line-height: 1.8;
    border-bottom: 1px solid @page-list-item-title-border;
}

.page-list-item-list
{
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 1em;

    li
    {
        margin-bottom: 1em;
    }

    &.with-no-margin li
    {
        margin-bottom: 0.5em;
    }
}


.page-list-with-children
{
    .page-list-item-title
    {
        font-size: 1.5em;
        line-height: 1.5;
    }

    .page-list-item-list li
    {
        margin-bottom: 0.5em;
    }
}
