﻿@icon-color: rgb(82, 82, 82);

.page-filter-button {
    display: none;

    i {
        color: @icon-color;
    }

    span {
        font-size: 1.8em;
        margin-left: 0.5em;
    }
}

.page-filter-options {

}