﻿@import "default";
@import "mixing/position";

@graduation-bg-color: #333;

.page-sidebar {
    position: absolute;
    .stretch(0, 0, 0, auto);

    width: 30em;

    background: @graduation-bg-color;
    z-index: 5;
    padding: 1em;

    > h1 {
        color: lighten(@h1-color, 100%);
    }

    .page-form {
        label {
            color: lighten(@label-color, 70%);
        }
    }

    .page-action {
        padding-left: 1em;
    }

    table {
        width: 100%;
        color: lighten(@label-color, 70%);

        th {
            font-weight: bold;
            text-align: left;
            border-bottom: .1em solid lighten(@graduation-bg-color, 10%);
            font-size: 1.3em;
            padding-bottom: 5px;
            padding: 0;
        }
    }
}
