﻿@import "mixing/position";
@import "mixing/column";

@page-header-height: 12em;
@page-footer-height: 7em;
@page-margin-left: 10.2em;

@page-container-offset: -50px;

.page {
    position: absolute;
    min-width: 800px;
    min-height: 600px;
    .stretch;

    > header {
        position: relative;
        padding: 3em 0 0 @page-margin-left;
    }

    > footer {
        position: absolute;
        height: @page-footer-height;
        padding: 0 0 0 @page-margin-left;
        background: #808080;
        .alignBottom;
        z-index: 1;
    }
}

.page-container {
    position: absolute;
    //   background: #949494;
    .stretch(@page-header-height, 0, 0, 0);
}

.csstransitions .page-container {
    opacity: 0;
    left: @page-container-offset;
    
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;

    &.active {
        opacity: 1;
        left: 0;
    }
}

.page-action {
    position: absolute;
    height: @page-footer-height;
    padding: 0 0 0 @page-margin-left;
    .alignBottom;
    z-index: 2;
    overflow: hidden;
}

.page-filter {
    margin: 1em 0 1.5em @page-margin-left;
}

.page-content-scroll {
    .stretch(1em, 0, @page-footer-height + 1em, @page-margin-left);
    position: absolute;
    overflow-x: auto;
}

.page-content {
    .stretch;
    position: absolute;
}

.no-csscolumns .page-list article {
    display: block;
}

.no-csscolumns .page-form article {
    display: block;
}
