﻿@import "default";
@import "mixing/column";

.page-form
{
    //  .columns(30em);
    article
    {
        width: 30em;
        margin-bottom: 2em;
        //   .column-avoid-break;
        //  background: blue;
    }

    label
    {
        font-size: 1.6em;
        color: @label-color;
    }

    input:focus, textarea:focus
    {
        width: 101%;
    }
}

.page-form-row
{
    position: relative;
    margin-bottom: 1em;

    &:last-child
    {
        margin-bottom: 0;
    }
}
