﻿@tile-alunos: rgb(1, 122, 190);
@tile-graduacoes: rgb(133, 0, 0);
@tile-cursos: rgb(192, 0, 54);
@tile-turmas: rgb(88, 88, 88);
@tile-matriculas: #dc4a00;

.tile-alunos {
    background: @tile-alunos; 
}

.tile-graduacoes {
    background: @tile-graduacoes;
}

.tile-cursos {
    background: @tile-cursos; 
}

.tile-turmas {
    background: @tile-turmas; 
}

.tile-matriculas {
    background: @tile-matriculas; 
}