﻿@import "mixing/transform";

.tiles {
    margin-right: 4em;
    float: left;


    li {
        position: relative;
    }
}

.tile-wide {
    width: 310px;
    clear: both;
}

.tile-block {
    width: 150px;
    margin-right: 1em;
    float: left;
}

.tile-wide,
.tile-block {
    @tile-hover-border: #333;
    @icon-color: white;

    margin-bottom: 1em;
    height: 150px;

    a {
        display: block;
        height: 150px;
        text-align: center;
    }

    [class^=icon-] {
        font-size: 6em;
        color: @icon-color;
        line-height: 2.5;
    }

    a {
        .transform(perspective(0px) rotateY(0deg));

        &:hover {
            box-shadow: 0 0 0px 2px @tile-hover-border;
        }

        &:active {
            .transform(perspective(1000px) rotateY(-10deg));
        }
    }
}

.tile-content {
    @color: white;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: @color;
}

.tile-title {
    float: left;
    margin-left: 0.71em;
    margin-top: 0.28em;
    font-size: 1.4em;
}

.tile-total {
    float: right;
    margin-right: 0.55em;
    font-size: 1.8em;
}