﻿.user-authenticated
{
    position: absolute;
    right: 4em;
    top: 4em;

    li
    {
        display: inline-block;
        padding: 0 2em;
        font-size: 1.2em;

        i
        {
            margin-right: 0.5em;
        }

        &:last-child
        {
            border-left: 1px solid #DADADA;
        }
    }
}
