﻿@import url(mixing/position.less);

@busy-img: "../../images/icons/flyingdots_black.gif";

.clearfix:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.listn
{
    list-style: none;
}

.dn
{
    display: none;
}

.metro-icon
{
    @metro-icon-border: #000;

    background-color: transparent;
    border: 0.2em solid @metro-icon-border;
    border-radius: 100%;
    text-align: center;
}

.busy-loading
{
    height: 4px;
    .alignTop(0, 0, 2em);
    z-index: 10;
    position: absolute;
    display: none;
    background: url(@busy-img) no-repeat;
}

.icon-container
{
    position: relative;

    &:after
    {
        font-size: 1.5em;
        position: absolute;
        top: -0.2em;
        left: 0.4em;
    }

    &.datepicker
    {       
        &:after
        {
            content: '\F133';
        }

        input {
             padding-left: 2em;
        }

        &.datepicker-with-no-icon {
            &:after
            {
                content: '';
            }
        }
    }
}
