<section class="page-sidebar">
  <h1>Graduações</h1>
  <div class="page-form">
    <div class="page-form-row">
      <label for="graduationId">Graduação</label>
      <select name="graduationId">
      </select>
    </div>
    <div class="page-form-row">
      <label for="examDate">Data de graduação</label>
      <input type="text" name="examDate" required="required" />
    </div>
    <div class="page-form-row">
      <table>
        <thead>
          <tr>
            <th>Grau</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody data-graduation="">
        </tbody>
      </table>
    </div>
  </div>
  <footer class="page-action">
    <ul class="page-actions listn">
      <li>
        <a href="#" class="page-actions-action" id="addGraduation">
          <span class="page-actions-icon metro-icon">
            <i class="icon-plus icon-2x"></i>
          </span>
          <br />
          <span class="page-actions-label">Adicionar</span>
        </a>
      </li>
      <li>
        <a href="#" class="page-actions-action" id="cancelGraduation">
          <span class="page-actions-icon metro-icon">
            <i class="icon-remove icon-2x"></i>
          </span>
          <br />
          <span class="page-actions-label">Cancelar</span>
        </a>
      </li>    
    </ul>
  </footer>
</section>