<div class="page-content-scroll">
  <section class="page-content page-form">
    <article>
      <h2>Graduações</h2>
      <div class="page-form-row">
        <label for="degree">Graduação</label>
        <input type="text" name="degree" placeholder="1º Dan" value="<%= degree %>" />
      </div>
       <div class="page-form-row">
        <label for="stripColor">Cor da faixa</label>
        <input type="text" name="stripColor" placeholder="Azul" value="<%= stripColor %>" />
      </div>
    </article>
  </section>
</div>
<footer class="page-action">
  <ul class="page-actions listn">
    <li>
      <a href="#" class="page-actions-action" id="save">
        <span class="page-actions-icon metro-icon">
          <i class="icon-save icon-2x"></i>
        </span>
        <br />
        <span class="page-actions-label">Salvar</span>
      </a>
    </li>
  </ul>
</footer>

