<div class="page-content-scroll">
  <section class="page-content page-form">
    <article>
      <h2>UBKS</h2>
      <div class="page-form-row">
        <label for="codeTKFI">Código TKFI</label>
        <input type="text" name="codeTKFI" placeholder="0FF41DE0" value="<%= codeTKFI %>" />
      </div>
    </article>
    <article>
      <h2>Dados</h2>
      <div class="page-form-row">
        <label for="firstName">Nome</label>
        <input type="text" id="firstName" name="firstName" placeholder="Jully" required="required" value="<%= firstName %>" />
      </div>
      <div class="page-form-row">
        <label for="lastName">Sobrenome</label>
        <input type="text" name="lastName" placeholder="Ferreira" required="required" value="<%= lastName %>" />
      </div>
      <div class="page-form-row">
        <label for="birthDate">Data de nascimento</label>
        <input type="text" name="birthDate" id="birthDate" required="required" value="<%= birthDate %>" />
      </div>
    </article>
    <article data-id="studentDocument">
      <h2>Documentos</h2>
      <div class="page-form-row">
        <label for="rg">RG</label>
        <input type="text" name="rg" placeholder="42.412.312-2" value="<%= rg %>" />
      </div>
      <div class="page-form-row">
        <label for="cpf">CPF</label>
        <input type="text" name="cpf" placeholder="321.422.489-42" value="<%= cpf %>" />
      </div>
    </article>
    <!-- address -->

    <!-- contact -->

    <!-- education -->

  </section>
</div>
<footer class="page-action">
  <ul class="page-actions listn">
    <li>
      <a href="#" class="page-actions-action" id="save">
        <span class="page-actions-icon metro-icon">
          <i class="icon-save icon-2x"></i>
        </span>
        <br />
        <span class="page-actions-label">Salvar</span>
      </a>
    </li>
  </ul>
</footer>