<section class="page-filter">
  <button class="page-filter-button">
    <i class="icon-search icon-2x"></i>
    <span>Filtros</span>
  </button>
  <div class="page-filter-options">
    <input type="text" class="len-50" data-bind="value: clienteFilter.searchText, valueUpdate: 'afterkeydown', escape: clearFilter" placeholder="Filtrar pelo nome ex: MCOM Soluções e Tecnologia" />
  </div>
</section>
<div class="page-content-scroll page-list">
  <section class="page-content page-list-content">

  </section>
</div>
<footer class="page-action">
  <ul class="page-actions listn">
    <li>
      <a href="#/student/new" class="page-actions-action">
        <span class="page-actions-icon metro-icon">
          <i class="icon-file icon-2x"></i>
        </span>
        <br />
        <span class="page-actions-label ">Novo</span>
      </a>
    </li>
  </ul>
</footer>




