<a href="#/student/edit/<%= id %>">
    <span>
        <b><%= firstName %>
        </b>
    </span>
    <% if (contacts.length > 0) { %>
      <br />
    <span>
        <i class="icon-phone"></i>
        <%= contacts[0].phone %>
    </span>

    <br />
    <span>
        <i class="icon-envelope-alt"></i>
        <%= contacts[0].email %>
    </span>
    <% } %>
</a>
