<article>
  <h2>Responsável</h2>
  <div class="page-form-row">
    <label for="firstName">Nome</label>
    <input type="text" id="firstName" name="firstName" placeholder="Jully" required="required" value="<%= firstName %>" />
  </div>
  <div class="page-form-row">
    <label for="lastName">Sobrenome</label>
    <input type="text" name="lastName" placeholder="Ferreira" required="required" value="<%= lastName %>" />
  </div>
  <div class="page-form-row">
    <label for="birthDate">Data de nascimento</label>
    <input type="text" name="birthDate" id="birthDate" required="required" value="<%= birthDate %>" />
  </div>
  <div class="page-form-row">
    <label for="rg">RG</label>
    <input type="text" name="rg" placeholder="42.412.312-2" value="<%= rg %>" />
  </div>
  <div class="page-form-row">
    <label for="cpf">CPF</label>
    <input type="text" name="cpf" placeholder="321.422.489-42" value="<%= cpf %>" />
  </div>
</article>
