<article>
	<h2>Endereço</h2>
	<div class="page-form-row">
	    <label for="zipCode">CEP</label>
	    <input type="text" name="zipCode" placeholder="15130-000" required="required" value="<%= zipCode %>" />
	</div>
	<div class="page-form-row">
	    <label for="state">UF</label>
	    <select id="state" name="state" required="required" value="<%= state %>">
	    	  <option>Selecione um estado</option>
	        <option value="ac">Acre</option>
	        <option value="al">Alagoas</option>
	        <option value="ap">Amapá</option>
	        <option value="am">Amazonas</option>
	      
	        <option value="ba">Bahia</option>
	        <option value="ce">Ceará</option>
	        <option value="df">Distrito Federal</option>
	        <option value="es">Espirito Santo</option>
	        <option value="go">Goiás</option>
	        <option value="ma">Maranhão</option>
	        <option value="ms">Mato Grosso do Sul</option>
	        <option value="mt">Mato Grosso</option>
	        <option value="mg">Minas Gerais</option>
	        <option value="pa">Pará</option>
	        <option value="pb">Paraíba</option>
	        <option value="pr">Paraná</option>
	        <option value="pe">Pernambuco</option>
	        <option value="pi">Piauí</option>
	        <option value="rj">Rio de Janeiro</option>
	        <option value="rn">Rio Grande do Norte</option>
	        <option value="rs">Rio Grande do Sul</option>
	        <option value="ro">Rondônia</option>
	        <option value="rr">Roraima</option>
	        <option value="sc">Santa Catarina</option>
	        <option value="sp">São Paulo</option>
	        <option value="se">Sergipe</option>
	        <option value="to">Tocantins</option>
	    </select>
	</div>
	<div class="page-form-row">
	    <label for="city">Cidade</label>
	    <input type="text" name="city" placeholder="S.José do Rio Preto" required="required" value="<%= city %>" />
    </div>
	<div class="page-form-row">
	    <label for="neighborhood">Bairro</label>
	    <input type="text" name="neighborhood" placeholder="Portal" required="required" value="<%= neighborhood %>" />
      </div>
	<div class="page-form-row">
	    <label for="street">Logradouro</label>
	    <input type="text" name="street" placeholder="Rua Coronel Spinola" required="required" value=""<%= street %>" />
    </div>
	<div class="page-form-row">
	    <label for="number">Número</label>
	    <input type="text" name="number" placeholder="2596" required="required" value=""<%= number %>" />
    </div>
</article>