<article>
	<h2>Contato</h2>
	<div class="page-form-row">
	    <label for="name">Nome</label>
	    <input type="text" name="name" placeholder="Maria Fontana" required="required"  value="<%= name %>" />
      </div>
	<div class="page-form-row">
	    <label for="phone">Telefone</label>
	    <input type="tel" name="phone" placeholder="17 3213 2254" required="required"  value="<%= phone %>" />
      </div>
	<div class="page-form-row">
	    <label for="cellPhone">Celular</label>
	    <input type="tel" for="cellPhone" name="cellPhone" placeholder="17 9158 2254" value="<%= cellPhone %>"/>
      </div>                
	<div class="page-form-row">
	    <label for="email">Email</label>
	    <input type="email" name="email" placeholder="email@email.com.br" value="<%= email %>" />
      </div>
</article>