<article>
  <h2>Escolaridade</h2>
  <div class="page-form-row">
      <label for="institution">Instituição</label>
      <input type="text" name="institution" placeholder="Tufi Madi" value="<%= institution %>" />
  </div>
  <div class="page-form-row">
    <label for="course">Curso</label>
    <input type="text" name="course" placeholder="7º série" value="<%= course %>" />
  </div>
  <div class="page-form-row">
    <label for="beginDate">Data de início</label>
    <input type="text" name="beginDate" value="<%= beginDate %>"  />
  </div>
  <div class="page-form-row">
    <label for="period">Período</label>
    <input type="text" name="period" placeholder="Manhã" value="<%= period %>" />
  </div>
  <div class="page-form-row">
    <label for="grade">Graduação</label>
    <input type="text" name="grade" placeholder="Ensino médio"  value="<%= grade %>"/>
  </div>
</article>
